.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
certifi
idna
certifi-2020.6.20.dist-info
idna-2.10.dist-info
requests_aws4auth
requests_aws4auth-1.0.1.dist-info
chardet
chardet-3.0.4.dist-info
lambda_function.zip
urllib3
elasticsearch
requests
urllib3-1.25.11.dist-info
elasticsearch-7.9.1.dist-info
requests-2.24.0.dist-info